@media only screen and (max-width: 768px) {

	#inv-display {
		display: block;
		.carThumb {
            max-width: 100%;
        }
	}
	#inv-display li {
		max-width: 300px;
        margin: 5px auto;
	}
      
	nav ul {
		justify-content: space-evenly;
	}

	#adminList {
		margin: 1em auto;
		max-width: fit-content;
	}

	.form {
		.imgContainer {
			
			.carImg {

				width: 95%;
			}
		}
	}
	
}
